{% extends "base.html" %}

{% block header %}
<div class="jumbotron">
  <h1 class="display-4">TodoList</h1>
  <p class="lead"></p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
</div>
{% endblock header%}

{% block content %}
{% for item in object_list %}
<div class="alert alert-success" role="alert">
    {{ item.title}}
</div>
<div class="alert alert-success" role="alert">
    {{item.memo}}
</div>


{% endfor %}

{% endblock content %}